.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  max-width: 1440px;
  padding: "10px 40px";
}
.card {
  padding: 2rem 2rem;
  transition: transform 300ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card:hover {
  transform: scale(1.01);
}
.imageContainer {
  display: flex;
  max-width: 340px;
  max-height: 340px;
}
.image {
  aspect-ratio: 1;
  object-fit: contain;
  width: 100%;
}
.type {
  display: inline;
  min-width: 40%;
}

.fire {
  background-color: red;
}
.water {
  background-color: aqua;
}
.poison {
  background-color: cadetblue;
}
.grass {
  background-color: green;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
  }
}
